<div class="col-3 px-0" style="visibility:hidden;"></div>
<div class="col-3 h-100 px-0 fixed-bottom " style="min-height:100%;">
  <div class="h-100" style="background-color:#ff99dd;border-right:1px solid black;">
    <div class="w-100" style="height:4vh;background-color:#ff66cc;"></div>

    <div class="">
      <div class="h-100 w-100" style="font-size:95%;background-color:#ffb3e6;">
        Manga
      </div>
      <a href="#" class="btn btn-light w-100 py-2 mx-0 my-0" style="border-top:1px solid black;border-bottom:1px solid black;">Recent</a>
      <a href="#" class="btn btn-light w-100 py-2 mx-0 my-0" style="border-bottom:1px solid black;">Favourite</a>
      <a href="{% url 'MainPage' %}" class="btn btn-light w-100 py-2 mx-0 my-0" style="border-bottom:1px solid black;">All Manga</a>
      <div class="h-100 w-100" style="font-size:95%;background-color:#ffb3e6;">
        Download
      </div>
      <a href="#" class="btn btn-light w-100 py-2 mx-0 my-0" style="border-top:1px solid black;border-bottom:1px solid black;">Manga Reader</a>
      <a href="#" class="btn btn-light w-100 py-2 mx-0 my-0" style="border-bottom:1px solid black;">Fan Fox</a>
      <a href="#" class="btn btn-light w-100 py-2 mx-0 my-0" style="border-bottom:1px solid black;">Manga Fox</a>
      <div class="h-100 w-100" style="font-size:95%;background-color:#ffb3e6;">
        Register
      </div>
      <a href="{% url 'admin:index' %}mangatitles/mangatitles/" target="_blank" class="btn btn-light w-100 py-2 mx-0 my-0" style="border-top:1px solid black;border-bottom:1px solid black;">Pick from files</a>
        <a href="{% url 'notify' %}" class="btn btn-light w-100 py-2 mx-0 my-0" style="border-bottom:1px solid black;">Notification</a>
    </div>
  </div>
</div>
